<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Mama Mia!</h5>
        <p>
          Like our food? Post to social media.
        </p>
        <hr class="clearfix w-100 d-md-none pb-3" />
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About us</a>
          </li>
          <li>
            <a href="#!">Contact</a>
          </li>
          <li>
            <a href="#!">Location</a>
          </li>
          <li>
            <a href="#!">Delivery</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Products</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Menu</a>
          </li>
          <li>
            <a href="#!">Burgers</a>
          </li>
          <li>
            <a href="#!">Pizzas</a>
          </li>
          <li>
            <a href="#!">Desserts</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright
    <a [routerLink]="['/home']"> PizzaBurger</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
